.feedback {
    opacity: 0;
    animation: showTree 1s linear 0.1s 1 forwards;
    display: flex;
    justify-content: center;
    padding-top: 7vh;
    .feedback-form{
        transition: all 0.2s;
        // background-color: rgba(171,59,97,0.8);
        background-color: rgba(186,178,181,0.6);
        display: flex;
        // flex-wrap: wrap;
        flex-direction: column;
        color: rgb(171,59,97);
        gap: 1vw;
        // position: absolute;
        // top: 60px;
        // left: 2%;
        // right: 2%;
        // bottom: 0%;
        // width: 96%;
        width: 96%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        // padding: 100px;
        // padding-top: 80px;
        // padding-bottom: 50px;
        border: 1px solid black;
        outline: 1px none black;
        position: relative;
        height: 90vh;
        padding-bottom: 4vh;
        .feedback-title{
            text-align: center;
            font-size: 2rem;
            background-color: rgb(171,59,97);
            color: #eee3dc;;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            width: 100%;
            padding: 7vh 0px 2vh 0px;
            position: absolute;
            z-index: 3;
        }
        .validators {
            // margin: 0px 0px 0px 0px;
            visibility: visible;
            color: red;
            font-size: small;
            float: right;
            margin-top: -4%;
            // padding-bottom: -6%;
            //margin-bottom: -6px;
            // visibility: visible;
            // transition-delay: 10s;
            // visibility: hidden;
            // visibility: hidden;

        }
        .home-header-home{
            // background-color: red;

            position: absolute;
            top: 17vh;
            z-index: 3;
            right: 5px;
            color: #eee3dc;
            background-color: rgb(171,59,97);
            padding: 1px 10px;
            border-radius: 20px;
            text-decoration: none;
        }
        .home-header-back{
            cursor: pointer;
            position: absolute;
            top: 2vh;
            z-index: 5;
            left: 17px;
            background-color: #eee3dc;
            color: rgb(171,59,97);
            padding: 1px 10px;
            border-radius: 20px;
            text-decoration: none;
        }
    }
    .feedback-menu-displaydata{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        overflow-y: scroll;
        padding-top: 20vh;
        .feedback-menu-content{
            background-color: #eee3dc;
            width: 80%;
            padding: 20px;
            padding-bottom: 50px;
            border: 2px solid rgb(171,59,97);
            border-radius: 10px;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 30px;
            &-name{
                background-color: #eee3dc;
                position: absolute;
                top: -15px;
                padding: 2px 10px;
                border-radius: 20px;
                border: 2px solid rgb(171,59,97);
            }
            &-brief{
                font-size: 1.2rem;
                margin-top: 30px;
            }
            &-status{
                position: absolute;
                top: 30px;
                right: 20px;
                color: #777676;
                padding: 5px 10px;
            }
            &-posted{
                position: absolute;
                top: 10px;
                right: 20px;
                padding: 5px 10px;
                color: #777676;
            }
            &-tags{
                display: flex;
                gap: 10px;
                &-tag{
                    background-color: rgba(171,59,97,0.9);
                    color: #eee3dc;
                    padding: 5px 10px;
                    border-radius: 10px;
                }
            }
            &-recognized{
                position: absolute;
                bottom: 30px;
                right: 30px;
                height: 60px;
                width: 60px;
                font-size: 0.6rem;
                background-color: rgba(171,59,97,0.9);
                color: #eee3dc;
                border-radius: 100px;
                outline: 2px solid rgba(171,59,97,0.9);
                outline-offset: 2px;
                display: grid;
                place-items: center;
            }
            &-feedback{
                width: 100%;
                text-align: center;
                padding-bottom: 20px;
                border-bottom: 1px dashed #777676;
            }
            &-submit{
                width: 30%;
                margin-top: 20px;
            }
            &-feedbacks{
                display: grid;
                grid-template-columns: 10% 65% 25%;
                gap: 10px;
                border: 1px solid rgba(171,59,97,0.9);
                &-name{
                    display: grid;
                    place-items: center;
                    border-right: 1px solid rgba(171,59,97,0.9);
                    padding: 5px 10px;
                    // white-space: nowrap;
                }
                &-comments{
                    text-align: justify;
                    display: flex;
                    align-items: center;
                }
                &-actions{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    margin: 10px;
                    button{
                        height: 95%;
                        width: 20%;
                        padding: 0px;
                        display: grid;
                        place-items: center;
                        img{
                            // width: 100%;
                            height: 30px;
                            filter: invert(29%) sepia(26%) saturate(2594%) hue-rotate(299deg) brightness(95%) contrast(87%);
                        }
                    }
                }
            }
        }
        hr{
            border-color: rgba(186,178,181,0.8);
            border-style: dashed;
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-width: 1px;
        }

        table{
            width: 90%;
            padding: 20px;
        }
        th, td {
            background-color: #eee3dc;
            color: #123c69;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            padding: 10px;
            // background-color: rgba(239,220,213);
            border-bottom: 1px solid rgb(171,59,97);
            border-top: 1px solid rgb(171,59,97);
            border-left: 1px solid rgb(171,59,97);
            border-right: 1px solid rgb(171,59,97);
        }
        .icon{
            width: 80px;
            font-size: smaller;
            text-align: left;
            height: 30px;
        }
        
        .feedback-menu-feedback{
            // width: 650px;
            width: auto;
            align-items: center;
            display: flex;
            height: 10%;
            padding: 10px ;
            gap: 4vw;
            // .input{
               
            //     margin-left: 10px;
            //     margin-right: 10px;
            // }
            .button{
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

}
#hideMeAfter10Seconds {
    animation: hideAnimation 1.5s ease-in 10s;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation {
to {
    visibility: hidden;
    width: 0;
    height: 0;
}
}

// @media only screen and (max-width: 600px) {
//     .addStatus-menu-links{
//         background-color: red;
//     }
// }